*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: 100%;
    background-image: url(pic/bk-4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 3% 5%;
    justify-content: space-between;
    align-items: center;

}
nav h3{
    color: wheat;
    font-size: 18px;
    text-transform: uppercase;
}
.nav-menu{
   flex: 1;
   text-align: right;
}
.nav-menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 12px;
    position: relative;
}
.nav-menu ul li a{
    text-decoration: none;
    color: wheat;
    font-size: 14px;
    text-transform: uppercase;
}
.nav-menu ul li::after{
    content: ' ';
    width: 0px;
    height: 5px;
    background: black;
    display: block;
    margin: auto;
    position: absolute;
    bottom: -5px;
    transition: .5s;
}
.nav-menu ul li:hover::after{
    width: 100%;
}
.p-img{
    width: 40%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(25%, -25%);
}
.titel-discription{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titel-discription h1{
    font-size: 60px;
    
}
.titel-discription p{
    margin: 10px 0 40 px;
    font-size: 15 px;
    color: rgb(245, 179, 193);
}
.titel-discription a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid wheat;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 13px 30px;
    font-size: 14px;

}
.titel-discription a:hover{
    background: green;
    border: 2px solid wheat;
    transition: 1s;
}
nav span{
    display: none;
}
@media(max-width: 700px){
    .titel-discription{
        width: 90%;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .titel-discription h1{
            font-size: 25px;
    }
nav span{
    display: block;
    color: white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.nav-menu{
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    text-align: left;
    z-index: 1;
    transition: 1s;
}

.nav-menu ul li{
    display: block;
    margin: 10px 0;

}
.nav-menu ul li{
    padding: 20px;

}
.p-img{
    width: 65%;
    position: absolute;
    top: 80%;
    left: 2%;
    transform: translate(50%, -25%);
}

}